@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-bg {
  background: #04BF9D;
  color: white;
}


/* navbar - barra de busqueda */
.input-search{
  width: 450px;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  line-height: -10;
}

/* titulo principal */
.title-main{
  font-size: 30px;
  line-height: 30px;
}
